@font-face {
  font-family: "Commie Sans" !important;
}

#chat {
    width: auto;
    height: auto;
}

#chat .popup {
    position: absolute;
    top: 50vh;
    right: -2560px;
    width: auto;
    text-align: center;
    will-change: transform;
    opacity: 0;
    animation: popup 0.1s ease-in;
    animation: popup 8s 1 linear;
    font-family: "Commie Sans" !important;
    color: #EEE;
       text-shadow:
       3px 3px 0 #000,
     -2px -2px 0 #000,  
      2px -2px 0 #000,
      -2px 2px 0 #000,
       2px 2px 0 #000;
}

@keyframes popup {
	0% 		{ transform: translateX(0px) scale(0); opacity: 0; }
	1%  	{ transform: scale(1); opacity: 1; }
	100%	{ transform: translateX(-5120px); opacity: 1; }
}
