@font-face {
  font-family: "Sawarabi Gothic", sans-serif !important;
}

#chat {
    width: auto;
    height: auto;
}

#chat .popup {
    position: absolute;
    top: 50vh;
    right: -50px;
    width: auto;
    text-align: center;
    will-change: transform;
    opacity: 0;
    animation: popup 0.1s ease-in;
    animation: popup 7s 1 linear;
    font-family: "Sawarabi Gothic", sans-serif !important;
    color: #EEE;
    text-shadow: 0px 0px 3px rgb(0,0,0,0.7);
}

@keyframes popup {
	0% 		{ transform: translateX(0px) scale(0); opacity: 0; }
	1%  	{ transform: scale(1); opacity: 1; }
	100%	{ transform: translateX(-2000px); opacity: 1; }
}
